<app-custom-validate-form></app-custom-validate-form>
<hr />
<app-reactive-form></app-reactive-form>
<hr />
<app-form></app-form>
<hr />
<app-post></app-post>
<hr />
<app-post-list></app-post-list>
<hr />
<h1 [class.text-red]="bool">My Website</h1>
<hr />
<h1 [style.color]="bool ? 'red' : 'green'">Style Binding</h1>
<hr />
<h1
  [ngStyle]="{
    color: isActive ? 'red' : 'blue',
    textTransform: isActive ? 'uppercase' : ''
  }"
>
  NgStyle
</h1>
<hr />
<h4>{{ dummyText | summary : 30 }}</h4>
<hr />
<h3>{{ userDetails.name | appendCLI }}</h3>
<h3>{{ userDetails.city | append }}</h3>
<hr />
<h3 [ngClass]="{ 'text-red': isActive, 'have-border': isActive }">NgClass</h3>
<hr />
<button (click)="toggleColor()">Toggle Color</button>
<hr />
<!-- <input type="text" (keyup.enter)="onKeyup(username)" #username /> -->
<hr />
<input type="text" [(ngModel)]="email" (keyup.enter)="onKeyup()" />
{{ email }}

<hr />

<ul>
  <li *ngFor="let post of posts">{{ post }}</li>
</ul>

<hr />

<ul *ngIf="objPosts.length > 0; else noData">
  <h2>List of Post</h2>
  <li *ngFor="let post of objPosts">
    {{ post.name }} <button (click)="onDelete(post)">Delete</button>
  </li>
</ul>

<!-- <div *ngIf="objPosts.length == 0"> -->
<ng-template #noData>
  <p>No data to fetch</p>
</ng-template>

<hr />
<button (click)="addPost()">Add New Post</button>
<hr />
<div>
  <button (click)="chooseStep('step-1')">Step 1</button>
  <button (click)="chooseStep('step-2')">Step 2</button>
  <button (click)="chooseStep('step-3')">Step 3</button>
  <button (click)="chooseStep('')">No</button>
</div>

<div [ngSwitch]="stepForm">
  <h4 *ngSwitchCase="'step-1'">Step Form 1</h4>
  <h4 *ngSwitchCase="'step-2'">Step Form 2</h4>
  <h4 *ngSwitchCase="'step-3'">Step Form 3</h4>
  <h4 *ngSwitchDefault>Something</h4>
</div>
